# Переменные окружения для запуска API-сервиса
# Для использования локально скопируйте этот файл в корень проекта под именем `.env`

# Настройки запуска FastAPI сервера
APP_HOST=0.0.0.0
APP_PORT=8000
APP_DEBUG=True

# Секретный ключ (например, для будущей авторизации)
API_SECRET_KEY=your_temporary_secret_key_here